# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables & secrets (Tracked per user request)
# .env


# Build & Output directories
client/dist/
client/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS / Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
